Gemfile.lock
*.gem
*.rbc
/.config
/coverage/
/pkg/
/spec/reports/
/spec/examples.txt
/tests/test_config.json
/tests/tmp/
/tests/version_tmp/
/tmp/
.env
.rvmrc
.ruby-version
.rspec_status
arcanist/.phutil_module_cache
autogen_docs_config.json

.DS_Store
/.idea
/.tox
*.swp
*.swo